
.hero-section {
    background: linear-gradient(135deg, #000000 0%, #1f1c6b 100%);
    padding: 4rem 0rem;
}

.hero {
    display: grid;
    width: 90%;
    grid-template-columns: 420px 1fr;
    gap: 4rem;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
}

.img__container {
    min-width: 180px;
    max-width: 100%;
    min-height: 180px;
    max-height: 500px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 24px;
    outline: 2px solid var(--accent);
}


.imgManuel {
    object-fit: cover;
    width: 100%;
    transition: all 0.25s ease;
}

.imgManuel:hover {
    cursor: pointer;
    scale: 1.05;
}


@media (max-width: 960px) {
    .hero {
        grid-template-columns: 320px 1fr;
        gap: 2rem;
    }
}

@media (max-width: 720px) {
    .hero-section {
    background: linear-gradient(135deg, #000000 0%, #1f1c6b 100%);
    padding: 2rem;
}
    .hero {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}

