.btn-primary {
    display: inline-block;
    background-color: var(--accent);
    color: var(--bg-dark);
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 1rem;
    transition: transform 0.2s;
}

.btn-primary:hover {
    filter: brightness(110%);
    transform: translateY(-3px);
    box-shadow: 0 5px 15px var(--accent);
}

.btn-contact {
    background-color: var(--accent) !important;
    color: var(--text-main) !important;
    font-weight: 800 !important;
}

.btn-contact:hover {
    box-shadow: 0 0 20px var(--accent) !important;
}