:root {
    --bg-card: #1E293B;      /* Color de la tarjeta */
    --accent: #38BDF8;       /* Cian brillante para resaltar */
    --text-main: #F8FAFC;    /* Blanco casi puro */
    --text-muted: #94A3B8;   /* Gris para textos secundarios */
    --dark-navy: #0F172A;      /* Fondo base */
    --deep-blue: #1E293B;      /* Azul intermedio */
    --glass-white: rgba(255, 255, 255, 0.05); /* Blanco translúcido para efectos de vidrio */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    list-style: none;
    text-decoration: none;
    font-family: 'Nunito';
    scroll-behavior: smooth;
}

strong {
    color: var(--accent);
}

.w-50{
    width: 50%;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 60vh;
    background-color: var(--dark-navy);
    color: var(--text-main);
}

.hero-section {
    background: linear-gradient(135deg, #0F172A 0%, #1E293B 100%);
    padding: 4rem 0;
}

.hero {
    display: flex;
    min-width: 300px;
    width: 70%;
    gap: 3rem;
    max-width: 1024px;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
    flex-wrap: wrap;

}

.img__container {
    min-width: 20rem;
    height: 25rem;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 30px;
    outline: 2px solid var(--accent);
}


.imgManuel {
    width: 100%;
    transition: all 0.25s ease;
}

.imgManuel:hover {
    cursor: pointer;
    scale: 1.05;
}

