:root {
    --bg-card: #000000; 
    --accent: #7100c2;
    --text-main: #F8FAFC;
    --text-muted: #94A3B8;
    --dark: #000000;
    --glass-white: rgba(255, 255, 255, 0.05); /* Blanco translúcido para efectos de vidrio */
    --cursor-pc: url('/public/img/cursorPC.png'), auto;
    --cursor-pala: url('/public/img/cursorPalaMinecraft.png'), auto;
}

html {
    cursor: var(--cursor-pc);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    list-style: none;
    text-decoration: none;
    font-family: 'Nunito';
    scroll-behavior: smooth;
}

strong {
    background: linear-gradient(135deg, #963896 0%, #7f2ac1 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.w-50{
    width: 50%;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 60vh;
    background-color: var(--dark);
    color: var(--text-main);
}
